

body{
  background-image: url(https://i.ibb.co/rZgRnhD/deskbgpaneledbrightt.png);
  background-image:cover;
  background-attachment:fixed ;
  overflow:hidden;

}

.textbox{
  color:rgb(96, 68, 30);
  position:relative;
  left:150px;
  top: 20px;
  width:250px;
  height:370px;
  z-index: 2;
  font-size:25px;
  margin:auto;
  text-align: center;
  
}


.btn{
  background-color:lightcoral;
  color:white;
  padding:0 1rem;
  margin-top: 100px;
  z-index:2;
  

}

.startbtn:hover{
  cursor:pointer;
}

.passport{
  background-image: url(https://i.ibb.co/xhSCDFQ/passportbase.png);
  width: 600px;
  height:400px;
  display: block;
  margin:auto;
  justify-content: center;
  position: relative;
  top:80px;
  
}

.cup{
  background-image: url(https://i.ibb.co/DwjCWFF/COFFEECUP.png);
 width:350px;
 height:350px;
 display: block;
  margin:auto;
 position: relative;
 margin-top: -650px;
 margin-left:-370px
 
 
}




